<div [ngGrid]="gridOptions">
  <div *ngFor="let plugin of (plugins | async); let i = index"
    [(ngGridItem)]="plugin.config"
    [hidden]="!plugin.isBoxVisible">
    <div class="flex-wrapper">
      <div class="title">{{plugin.pluginTitle}}</div>
      <div class="box-contents">
        <app-plugins-manager *ngIf="plugin.pluginName === 'plugins-manager'"></app-plugins-manager>
        <app-map *ngIf="plugin.pluginName === 'map'"></app-map>
        <app-hlr *ngIf="plugin.pluginName === 'hlr'"></app-hlr>
        <app-frame
          *ngIf="plugin.pluginType === 'url' || plugin.pluginType === 'bsr'"
          [plugin]="plugin">
        </app-frame>
        <app-combo-a *ngIf="plugin.pluginType === 'combo-a'"></app-combo-a>
      </div>
    </div>
  </div>
  <!-- <div


    [(ngGridItem)]="sampleItemConfigA">
    <div class="title">Sample A</div>
  </div>
  <div
    [(ngGridItem)]="sampleItemConfigB">
    <div class="title">Sample B</div>
  </div> -->
</div>
