.grid {
}
.grid-item {
  background-color: gray;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0px gray;
  .title {
    background-color: cadetblue;
    padding: 6px 10px 5px;
  }
}
ng-grid-placeholder {
  background-color: silver;
}
