.grid {
}
.grid-item {
  background-color: gray;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 2px 3px 0px gray;
  .title {
    background-color: cadetblue;
    padding: 6px 10px 5px;
    z-index: 5;
    position: relative;
    flex: 0 0 16px;
    //top: 27px;
  }
  .box-contents {
    flex: 1 1 100%;
    overflow: auto;
    padding-bottom: 10px;
    cursor: default;
  }
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ng-grid-placeholder {
  background-color: silver;
}
app-map {
  // Check these
    overflow: hidden;
    height: 56px;
    z-index: 0;
}


/* adapted from combo-a.component.scss */
.title {
  display: flex;
}
a {
  flex: 1 1 auto;
}

/* copied from combo-a.component.scss */
.device-on-off-toggle {
  flex: 0 0 65px;
  display: flex;
}
.device-on-off-status {
  flex: 1 1 50%;
  text-align: center;
  color: silver;
  &:hover:not(.current) {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  &.current {
    text-decoration: underline;
    color: black;
  }
}
