header {
  flex: 0 0 auto;
  font-size: 1.3rem;
  display: flex;
}
main {
  flex: 1 1 90%;
  display: block;
  background-color: lightgray;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 10px;
}
app-main-content {
  overflow-y: auto;
  overflow-x: hidden;
}
footer {
  flex: 0 0 auto;
  &.expanded {
    flex-basis: 50%;
  }
}
app-footer {
  margin-right: 3px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
