$btnColor: cadetblue;

button {
  margin: 3px;
  cursor: pointer;
  background-color: $btnColor;
  &:hover {
    background-color: lighten($btnColor, 15%);
    box-shadow: 1px 2px 3px 1px gray;
  }
  &:active {
    background-color: darken($btnColor, 15%);
    box-shadow: none;
  }
  border-radius: 2px;
  box-shadow: 1px 2px 3px 0px gray;
  padding: 2px 2px;
  height: 2.8rem;
}
.footer-side {
  flex: 0 0 auto;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: lightgray;
  }
}
.footer-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
.footer-button {
  font-size: 1.2rem;
  flex: 1 0 auto;
  font-weight: bold;
  text-align: center;
  color: white;
}
